body{

}

/*
++++++++++++++++++++++++++++++++++
Common classes
++++++++++++++++++++++++++++++++++
*/
.write-to-us{
	position: relative;
	width: 250px;
}
.write-to-us input{
    border: unset;
    padding: 10px 20px;
    box-shadow: -4px 4px 19px 1px #d1d1d1;
    border-radius: 20px;
    width: 100%;
}
.write-to-us input:focus{
	outline: unset;
}
.write-to-us span{
	background: #367dcb;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	text-align: center;
	color: white;
	position: absolute;
    right: 2px;
    top: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Padding and margins*/
.ptb-100{
	padding-top: 100px;
	padding-bottom: 100px;
}

.overflow-hidden{
	overflow: hidden;
}


/*
++++++++++++++++++++++++++++++++++
Header Code
++++++++++++++++++++++++++++++++++
*/

header{
    padding: 20px 0;
    position: fixed;
	left: 0;
	right: 0;
	z-index: 99;
}
header .logo a {
	color: #333;
	font-size: 30px;
	font-weight: bold;
}
header .logo a:hover {
	text-decoration: none;
	opacity: 0.9;
}

header .navigation{
	padding: 0;
	margin: 0;
	text-align: right;
}
header .navigation li{
	list-style-type: none;
	display: inline-block;
}
header .navigation li a{
	color: #fff;
    padding: 5px 20px;
    display: inline-block;
    text-transform: uppercase;
}

header .navigation li a:hover{
	text-decoration: none;
	color: #333;
}




@media screen and (min-width: 992px){
	.hamburger{
		display: none;
	}
}
@media screen and (max-width: 991px){
	header .navigation{
		display: none;
		position: absolute;
		width: 240px;
		background-color: white;
		right: 15px;
		border-radius: 10px;
		padding: 0 20px;
	}
	header .navigation li{
		display: block;
	}
	header .navigation li a{
		display: block;
		color: #444;
		padding: 10px 20px;
		border-bottom: 1px solid #ccc;
		font-size: 14px;
	}
	header .navigation li:last-child a{
		border-bottom: unset;

	}
}


/*
++++++++++++++++++++++++++++++++++
Hero Section
++++++++++++++++++++++++++++++++++
*/
.hero{
	position: relative;
	overflow: hidden;
}
.hero .right-banner{
    width: 840px;
    height: 840px;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    top: -270px;
    right: -30px;
    transform: rotate(45deg);
}
.hero .right-banner img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.hero .top-content {
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.hero .top-content h1{
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
}
.hero .top-content p{
	color: #777;
	margin-bottom: 60px;
	margin-top: 20px;
}

@media screen and (max-width: 1350px){
	.hero .top-content{
		z-index: 9;
		position: relative;
	}
	.hero .right-banner {
		width: 760px;
	    height: 530px;
	    transform: rotate(25deg);
	}
}

@media screen and (max-width: 991px){
	.hero .right-banner{
	    width: 920px;
	    height: 900px;
	}
}

/*
++++++++++++++++++++++++++++++++++
About Section
++++++++++++++++++++++++++++++++++
*/

.about{
	background-color:#f1f1f1;
	position: relative;
}

.about:before{
	content: "hello bottom";
	width: 300px;
	height: 300px;
	background-color: #ccc;
	border-radius: 50%;
	display: inline-block;
	    position: absolute;
    right: 90px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about:after{
	content: "*";
	width: 300px;
	height: 300px;
	background-color: #ccc;
	border-radius: 50%;
	display: inline-block;
	    position: absolute;
    left: 90px;
    bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
++++++++++++++++++++++++++++++++++
Gallery Section
++++++++++++++++++++++++++++++++++
*/
.gallery{

}
.gallery .imgage-parent{
	height: 200px;
}
.gallery .imgage-parent img{
	height: 100%;
	object-fit: ;
}
